.sticky.menu {
  position: sticky !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.resetselect {
    -webkit-touch-callout: auto; /* iOS Safari */
      -webkit-user-select: auto; /* Safari */
       -khtml-user-select: auto; /* Konqueror HTML */
         -moz-user-select: auto; /* Firefox */
          -ms-user-select: auto; /* Internet Explorer/Edge */
              user-select: auto; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

app > div.main
{
  position: relative;
  top:3.5em;
}

.ui.no-padding {
  padding: 0 !important;
}


#feedview.ui.grid {
  margin: 0rem;
  height:100vh;
  overflow: hidden;
}

#feedview .ui.column {
  overflow-y: auto;
  overflow-x: hidden;
}
#feedview .ui.tertiary.column {
  background: #DCDDDE;
  color: rgba(0, 0, 0, 0.6);
}

#feedview .ui.secondary.column {
  background: #F3F4F5;
  color: rgba(0, 0, 0, 0.6);
}
