@inherits BlazorLayoutComponent

<div class="ui left fixed vertical inverted menu">
    <NavLink class="header item" href="" Match=NavLinkMatch.All>BlazorRss</NavLink>
    <NavLink class="item" href="counter" Match=NavLinkMatch.All>Counter</NavLink>
    <NavLink class="item" href="fetchdata" Match=NavLinkMatch.All>Fetch Data</NavLink>
</div>

<div class="main container">
    @Body
</div>
