@using BlazorRss.Shared.Models
@inject BlazorRss.App.Models.ApplicationDbContext ApplicationDbContext

<div class="ui left fixed vertical inverted menu">
    <NavLink class="header item" href="" Match=NavLinkMatch.All>BlazorRss</NavLink>
    <NavLink class="item" href="counter" Match=NavLinkMatch.All>Counter</NavLink>
    <NavLink class="item" href="fetchdata" Match=NavLinkMatch.All>Fetch Data</NavLink>

    <div class="ui item list">
        @if (Feeds != null)
        {
            @foreach (var feed in Feeds)
            {
                <div class="item">
                    <i class="right triangle icon"></i> @feed.Name
                </div>
            }
        }
    </div>
</div>

@functions {
    IReadOnlyList<Feed> Feeds;

    bool collapseNavMenu = true;

    protected override async Task OnInitAsync()
    {
        Feeds = await ApplicationDbContext.GetAllFeedsAsync();
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
