@using BlazorRss.Shared.Models
@inject BlazorRss.App.Models.ApplicationDbContext ApplicationDbContext

<div class="ui top fixed inverted borderless violet menu">
    <div class="ui container">
        <div class="header item" href="">BlazorRss</div>
        <NavLink class="item" href="" Match=NavLinkMatch.All>Home</NavLink>
        <NavLink class="item" href="/feeds/" Match=NavLinkMatch.All>Feeds</NavLink>
        
        <div class="ui simple dropdown item">
            Manage
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/manage/feeds">Feeds</a>
                <a class="item" href="/manage/categories">Categories</a>
            </div>
        </div>
    </div>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
