@using BlazorRss.Shared.Models
@inject BlazorRss.App.Models.ApplicationDbContext ApplicationDbContext

<div class="ui left fixed vertical inverted menu">
    <NavLink class="header item" href="" Match=NavLinkMatch.All>BlazorRss</NavLink>
    <NavLink class="item" href="counter" Match=NavLinkMatch.All>Counter</NavLink>
    <NavLink class="item" href="fetchdata" Match=NavLinkMatch.All>Fetch Data</NavLink>

    @if (Categories != null)
    {
        <div class="ui item list">
            @foreach (var category in Categories)
            {
                <div class="item">
                    <i class="right triangle icon"></i>
                        @category.Name
                    <div class="header">
                    </div>
                    <div class="list">
                        @foreach (var feed in category.Feeds)
                        {
                            <a class="item" href="#">@feed.Name</a>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>

@functions {
    IReadOnlyList<Category> Categories;

    bool collapseNavMenu = true;

    protected override async Task OnInitAsync()
    {
        Categories = await ApplicationDbContext.GetAllCategoriesAsync();
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
